* {
    box-sizing: border-box;
}

input {
    border: 0;
    outline: none;
    padding: 16px 0;
}

a,
a:hover {
    text-decoration: none;
}

fieldset {
    border: 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }